In [1]:
x = "Bangladesh"
x.__len__()

10

In [2]:
x = [1, 2, 3]
x.__len__()

3

In [3]:
x = {"a": "A", "b": "B"}
x.__len__()

2

In [1]:
x = 100

In [2]:
str(x)

'100'

In [3]:
x.__str__()

'100'

`+` operator

In [7]:
x = 100
y = 10

x.__add__(y)

110

In [8]:
a = "Bangla"
b = "desh"

a.__add__(b)

'Bangladesh'

Adding `Car` object

In [9]:
class Car:
    def __init__(self, name, manufacturer, year, price):
        self.name = name
        self.manufacturer = manufacturer
        self.year = year
        self.price = price

    def __add__(self, other):
        return self.price + other.price


if __name__ == "__main__":
    car1 = Car("Camry", "Toyota", 2020, 32000)
    car2 = Car("Camry", "Toyota", 2022, 38000)
    print(car1 + car2)

70000

In [10]:
class A:
    def __init__(self):
        pass


a = A()
a

In [12]:
print(a)

<__main__.A object at 0x000001DCF84730D0>

In [11]:
from datetime import date


date.today()

datetime.date(2022, 12, 24)

In [13]:
print(date.today())

2022-12-24

In [15]:
x = date.today()

In [16]:
x.__repr__()

'datetime.date(2022, 12, 24)'

In [17]:
x.__str__()

'2022-12-24'

In [18]:
repr(x)

'datetime.date(2022, 12, 24)'

In [19]:
str(x)

'2022-12-24'

`Car` class

In [23]:
class Car:
    def __init__(self, name, manufacturer, year):
        self.name = name
        self.manufacturer = manufacturer
        self.year = year

    def __repr__(self):
        return "Car ('{}', '{}', '{}')".format(self.name, self.manufacturer, self.year)

    def __str__(self):
        return "{} {} {}".format(self.manufacturer, self.name, self.year)

if __name__ == "__main__":
    car = Car("Camry", "Toyota", 2020)
    print(car)
    print(repr(car))

Toyota Camry 2020
Car ('Camry', 'Toyota', '2020')