# Create a table - sqlite

In [1]:
import sqlite3


con = sqlite3.connect("dimik.db")
cur = con.cursor()

In [2]:
# Create table
cur.execute("CREATE TABLE IF NOT EXISTS book(name TEXT, author TEXT, price REAL)")

In [3]:
# Insert a single row
cur.execute(
    "INSERT INTO book VALUES ('Compuer Programming Part 1', 'Tamim Shahriar', 260)"
)

In [4]:
book_list = [
    ("Computer Programming Part 2", "Tamim Shahriar", 250),
    ("Computer Programming Part 3", "Tamim Shahriar", 270),
    ("Programming Exercise", "Tamim Shahriar", 140)
]

In [5]:
# Insert multiple rows
cur.executemany("INSERT INTO book VALUES (?, ?, ?)", book_list)

In [6]:
cur.close()

In [7]:
con.commit()
con.close()

# Read data from database

In [8]:
import sqlite3


con = sqlite3.connect("dimik.db")
cur = con.cursor()

In [9]:
cur.execute("SELECT * FROM book")

In [10]:
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Compuer Programming Part 1', 'Tamim Shahriar', 260.0)
('Computer Programming Part 2', 'Tamim Shahriar', 250.0)
('Computer Programming Part 3', 'Tamim Shahriar', 270.0)
('Programming Exercise', 'Tamim Shahriar', 140.0)

In [11]:
cur.close()

In [12]:
con.commit()
con.close()

# Search by Book name and Author

In [40]:
import sqlite3


con = sqlite3.connect("dimik.db")
cur = con.cursor()

In [41]:
def search_by_name(cursor, name):
    query = "SELECT * FROM book WHERE name LIKE ?"
    cursor.execute(query, ('%' + name + '%',))
    return cursor.fetchall()

In [42]:
print(search_by_name(cur, 'Computer Programming'))

[('Computer Programming Part 2', 'Tamim Shahriar', 250.0), ('Computer Programming Part 3', 'Tamim Shahriar', 270.0)]

In [43]:
def search_by_author(cursor, author):
    query = "SELECT * FROM book WHERE author=?"
    cursor.execute(query, (author,))
    return cursor.fetchall()

In [44]:
print(search_by_author(cur, 'Tamim Shahriar'))

[('Compuer Programming Part 1', 'Tamim Shahriar', 260.0), ('Computer Programming Part 2', 'Tamim Shahriar', 250.0), ('Computer Programming Part 3', 'Tamim Shahriar', 270.0), ('Programming Exercise', 'Tamim Shahriar', 140.0)]

In [45]:
cur.close()

In [46]:
con.commit()
con.close()